{% extends 'base.html' %}

{% block title %}Contact | Portfolio{% endblock %}

{% block content %}
<!-- Contact Section -->
<section id="contact" class="section-padding">
    <div class="container contact-center hidden">
        <h2 class="section-title">Get In Touch</h2>
        <p class="contact-text">
            I’m currently seeking opportunities as a <strong>frontend developer</strong>,
            including internships and junior roles. If you’re building products that value
            clean design, accessibility, and great user experience, I’d be happy to connect.
        </p>

        <a href="mailto:benitdiyavanga@gmail.com" class="btn btn-primary" aria-label="Send email to Ben Diya"
            target="_self">
            Say Hello
        </a>
    </div>
</section>
{% endblock %}